../.DS_Store
.DS_Store
infrastructure/.terraform.lock.hcl

.bloop/
project/.bloop/
project/metals.sbt
project/project/
**/target/
.bsp/
.metals/
.vscode/
.idea/
.vscode
.metals
metals.sbt
dump.rdb
templates/**/*.wasm
bindings.rs
wit-generated
wit/deps
