[package]
name = "child-component"
version = "0.0.1"
edition = "2021"
homepage = "https://golem.cloud"


[package.metadata.component.target]
path = "wit-generated"

[package.metadata.component.target.dependencies]
"golem:it-exports" = { path = "wit-generated/deps/golem_it-exports" }

[dependencies]
once_cell = "1.17.1"
rand = "0.8.5"

[dependencies.common]
path = "../../common"

[dependencies.wit-bindgen-rt]
version = "0.26.0"
features = ["bitflags"]

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]
required-features = []

[profile.release]
opt-level = "s"
lto = true
strip = true
