[workspace]
resolver = "2"
members = ["components-rust/*", "common-rust/*"]

[profile.release]
opt-level = "s"
lto = true

[workspace.dependencies]
golem-rust = { path="../../sdks/rust/golem-rust", features = ["export_load_snapshot", "export_save_snapshot", "export_oplog_processor", "export_golem_agentic"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
wit-bindgen-rt = { version = "0.42.1", features = ["bitflags"] }
wstd = "=0.5.4"
