**/target
*/target
.git/
README.md
!target/x86_64-unknown-linux-gnu/debug/golem-shard-manager
!target/x86_64-unknown-linux-gnu/debug/worker-executor
!target/x86_64-unknown-linux-gnu/debug/golem-component-service
!target/x86_64-unknown-linux-gnu/debug/golem-component-compilation-service
!target/x86_64-unknown-linux-gnu/debug/golem-worker-service
!target/x86_64-unknown-linux-gnu/release/golem-shard-manager
!target/x86_64-unknown-linux-gnu/release/worker-executor
!target/x86_64-unknown-linux-gnu/release/golem-component-service
!target/x86_64-unknown-linux-gnu/release/golem-component-compilation-service
!target/x86_64-unknown-linux-gnu/release/golem-worker-service
!target/aarch64-unknown-linux-gnu/debug/golem-shard-manager
!target/aarch64-unknown-linux-gnu/debug/worker-executor
!target/aarch64-unknown-linux-gnu/debug/golem-component-compilation-service
!target/aarch64-unknown-linux-gnu/debug/golem-component-service
!target/aarch64-unknown-linux-gnu/debug/golem-worker-service
!target/aarch64-unknown-linux-gnu/release/golem-shard-manager
!target/aarch64-unknown-linux-gnu/release/worker-executor
!target/aarch64-unknown-linux-gnu/release/golem-component-service
!target/aarch64-unknown-linux-gnu/release/golem-component-compilation-service
!target/aarch64-unknown-linux-gnu/release/golem-worker-service
