[submodule "golem-wit"]
	path = golem-wit
	url = https://github.com/golemcloud/golem-wit
[submodule "golem-cli"]
	path = golem-cli
	url = https://github.com/golemcloud/golem-cli
[submodule "wasm-rpc"]
	path = wasm-rpc
	url = https://github.com/golemcloud/wasm-rpc
