### Rust template
debug/
target/
**/*.rs.bk
*.pdb
.idea/
./golem-worker-executor/data/
./golem-worker-executor-base/data/
zig-cache/
dump.rdb
./test-templates/*.wat
./test-templates/**/*.wat
./test-templates/**/*.wasm
./test-templates/c-1/c_api*
./test-templates/csharp-1/bin/
./test-templates/csharp-1/obj/
./test-templates/python-1/__pycache__/
./test-templates/tinygo-wasi*/tinygo_wasi/
golem-client/
