### Rust template
debug/
target/
**/*.rs.bk
*.pdb
.idea/
golem-worker-executor/data/
golem-worker-executor-base/data/
golem-worker-executor-base/golem-wit/
zig-cache/
dump.rdb
test-components/*.wat
test-components/**/*.wat
test-components/*/**/*.wasm
test-components/c-1/c_api*
test-components/csharp-1/bin/
test-components/csharp-1/obj/
test-components/python-1/__pycache__/
test-components/tinygo-wasi*/tinygo_wasi/
golem-client/*
!golem-client/Cargo.toml
!golem-client/build.rs
logs
data
.DS_Store

.cargo/

# Custom local files, e.g. for development purposes
/.local/

# IDE files
.vscode/
