[submodule "golem-openapi-client-generator"]
	path = golem-openapi-client-generator
	url = https://github.com/golemcloud/golem-openapi-client-generator
[submodule "golem-cli"]
	path = golem-cli
	url = https://github.com/golemcloud/golem-cli
