[submodule "golem-wit"]
	path = golem-wit
	url = https://github.com/golemcloud/golem-wit
[submodule "wasmtime"]
	path = wasmtime
	url = https://github.com/golemcloud/wasmtime
[submodule "golem-openapi-client-generator"]
	path = golem-openapi-client-generator
	url = git@github.com:golemcloud/golem-openapi-client-generator.git
