[workspace]
resolver = "2"

members = [
    "golem-api-grpc",
    "golem-cli",
    "golem-client",
    "golem-common",
    "golem-service-base",
    "golem-component-compilation-service",
    "golem-component-service-base",
    "golem-component-service",
    "golem-test-framework",
    "golem-shard-manager",
    "golem-worker-executor-base",
    "golem-worker-executor",
    "golem-worker-service-base",
    "golem-worker-service",
    "integration-tests"
]

exclude = [
    "test-components/shopping-cart",
    "test-components/write-stdout",
    "test-components/blob-store-service",
    "test-components/clock-service",
    "test-components/clocks",
    "test-components/directories",
    "test-components/environment-service",
    "test-components/failing-component",
    "test-components/file-service",
    "test-components/file-write-read-delete",
    "test-components/flags-service",
    "test-components/http-client",
    "test-components/http-client-2",
    "test-components/interruption",
    "test-components/key-value-service",
    "test-components/networking",
    "test-components/option-service",
    "test-components/promise",
    "test-components/read-stdin",
    "test-components/runtime-service",
    "test-components/rust-echo",
    "test-components/shopping-cart",
    "test-components/shopping-cart-resource",
    "test-components/stdio-cc",
    "test-components/update-test-v1",
    "test-components/update-test-v2",
    "test-components/update-test-v3",
    "test-components/update-test-v4",
    "test-components/variant-service",
    "test-components/write-stderr",
    "test-components/write-stdout",
]

[workspace.dependencies]
anyhow = "1.0.79"
async-trait = "0.1.77"
aws-config = "1.1.3"
aws-sdk-s3 = "1.13.0"
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
bytes = "1.5.0"
chrono = { version = "0.4.32", features = ["serde"] }
console-subscriber = "0.2.0"
dashmap = "5.5.3"
figment = { version = "0.10.14", features = ["toml", "env"] }
fred = { version = "8.0.0", features = [
    "metrics",
    "serde-json",
    "partial-tracing",
] }
futures = "0.3"
futures-core = "0.3.29"
futures-util = "0.3.29"
golem-wasm-ast = "0.2.2"
golem-wasm-rpc = { git = "https://github.com/golemcloud/wasm-rpc.git", branch = "handle_async_for_unit", default-features = false, features = ["host"] }
http = "1.0.0" # keep in sync with wasmtime
http_02 = { package = "http", version = "0.2.11" }
humantime-serde = "1.1.1"
hyper = { version = "1.0.1", features = ["full"] } # keep in sync with wasmtime
iso8601-timestamp = "0.2.16"
lazy_static = "1.4.0"
poem = "2.0.0"
opentelemetry = "0.21.0"
opentelemetry-prometheus = "0.14.1"
opentelemetry_sdk = "0.21.2"
poem-openapi = { version = "4.0.0", features = [
    "swagger-ui",
    "chrono",
    "time",
    "humantime",
    "uuid",
    "url",
    "websocket",
] }
prometheus = { version = "0.13.3", features = ["process"] }
proptest = "1.4.0"
prost = "0.12.3"
prost-types = "0.12.3"
rustls = { version = "0.22.2" }
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
tempfile = "3.9.0"
thiserror = "1.0.56"
tokio = { version = "1.0", features = [
    "macros",
    "rt-multi-thread",
    "sync",
    "io-std",
    "net",
    "tracing",
    "process"
] }
tokio-rustls = { version = "0.25.0" }
tokio-stream = { version = "0.1", features = ["sync"] }
tonic = "0.10.2"
tonic-reflection = "0.10.2"
tonic-health = "0.10.2"
tracing = { version = "0.1.40", features = ["log"] }
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.17", features = [
    "env-filter",
    "fmt",
    "std",
    "json",
] }
url = "2.5.0"
uuid = { version = "1.7.0", features = ["serde", "v4"] }
warp = "0.3.6"
webpki-roots = { version = "0.26.0" }

[patch.crates-io]
wasmtime = { git = "https://github.com/golemcloud/wasmtime.git", branch = "golem-wasmtime-17" }
wasmtime-runtime = { git = "https://github.com/golemcloud/wasmtime.git", branch = "golem-wasmtime-17" }
wasmtime-wasi = { git = "https://github.com/golemcloud/wasmtime.git", branch = "golem-wasmtime-17" }
wasmtime-wasi-http = { git = "https://github.com/golemcloud/wasmtime.git", branch = "golem-wasmtime-17" }
