[workspace]
resolver = "2"

members = [
    "golem-api-grpc",
    "golem-cli",
    "golem-client",
    "golem-common",
    "golem-service-base",
    "golem-component-compilation-service",
    "golem-component-service-base",
    "golem-component-service",
    "golem-rib",
    "golem-test-framework",
    "golem-shard-manager",
    "golem-worker-executor-base",
    "golem-worker-executor",
    "golem-worker-service-base",
    "golem-worker-service",
    "integration-tests",
]

exclude = [
    "test-components/shopping-cart",
    "test-components/write-stdout",
    "test-components/blob-store-service",
    "test-components/clock-service",
    "test-components/clocks",
    "test-components/directories",
    "test-components/durability-overhead",
    "test-components/environment-service",
    "test-components/failing-component",
    "test-components/file-service",
    "test-components/file-server",
    "test-components/file-write-read-delete",
    "test-components/flags-service",
    "test-components/golem-rust-tests",
    "test-components/http-client",
    "test-components/http-client-2",
    "test-components/interruption",
    "test-components/initial-file-read-write",
    "test-components/key-value-service",
    "test-components/logging",
    "test-components/networking",
    "test-components/option-service",
    "test-components/promise",
    "test-components/read-stdin",
    "test-components/runtime-service",
    "test-components/rust-echo",
    "test-components/rust-service",
    "test-components/shopping-cart",
    "test-components/shopping-cart-resource",
    "test-components/stdio-cc",
    "test-components/update-test-v1",
    "test-components/update-test-v2",
    "test-components/update-test-v3",
    "test-components/update-test-v4",
    "test-components/variant-service",
    "test-components/write-stderr",
    "test-components/write-stdout",
]

[profile.dev]
panic = "abort"

[workspace.dependencies]
anyhow = "1.0.79"
assert2 = "0.3.11"
async-fs = "2.1.0"
async-hash = "0.5.4"
async-trait = "0.1.77"
async_zip = "0.0.17"
aws-config = "1.1.3"
aws-sdk-s3 = "1.13.0"
bigdecimal = "0.4.5"
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
bytes = "1.5.0"
cap-std = "3.0.0" # keep in sync with wasmtime
chrono = { version = "0.4.32", features = ["serde"] }
clap = { version = "4.5.4", features = [
    "derive",
    "suggestions",
    "color",
    "help",
] }
cli-table = "0.4.7"
combine = "4.6.7"
conditional-trait-gen = "0.4.1"
console-subscriber = "0.3.0"
ctor = "0.2.6"
dashmap = "5.5.3"
derive_more = "0.99.17"
drop-stream = "0.3.2"
figment = { version = "0.10.14", features = ["toml", "env"] }
fred = { version = "9.0.3", features = [
    "metrics",
    "serde-json",
    "partial-tracing",
] }
futures = "0.3"
futures-core = "0.3.29"
futures-util = "0.3.29"
git-version = "0.3.9"
golem-wasm-ast = "1.0.1"
golem-wasm-rpc = { version = "1.0.7", default-features = false, features = [
    "host",
] }
hex = "0.4.3"
http = "1.0.0" # keep in sync with wasmtime
http_02 = { package = "http", version = "0.2.11" }
humansize = "2.1.3"
humantime-serde = "1.1.1"
hyper = { version = "1.0.1", features = ["full"] } # keep in sync with wasmtime
iso8601-timestamp = "0.2.16"
itertools = "0.13.0"
k8s-openapi = { version = "0.22.0", features = ["earliest"] }
kube = { version = "0.92.0", features = ["runtime", "derive"] }
kube-derive = "0.92.0"
lazy_static = "1.4.0"
nom = "7.1.3"
num-traits = "0.2.19"
once_cell = "1.19.0"
openapiv3 = "2.0.0"
opentelemetry = "0.24.0"
opentelemetry-prometheus = "0.17.0"
opentelemetry_sdk = "0.24.1"
phf = { version = "0.11.2", features = ["macros"] }
poem-openapi = { version = "5.0.3", features = [
    "swagger-ui",
    "chrono",
    "time",
    "humantime",
    "uuid",
    "url",
    "websocket",
] }
poem = { version = "3.0.4", features = ["prometheus", "opentelemetry", "test"] }
postgres = "0.19.7"
prometheus = { version = "0.13.3", features = ["process"] }
proptest = "1.4.0"
prost = "0.12.6"
prost-types = "0.12.6"
redis = { version = "0.25.2", features = ["default", "tokio-comp"] }
regex = "1.10.3"
reqwest = { version = "0.12.5", features = [
    "gzip",
    "json",
    "multipart",
    "stream",
] }
rustls = { version = "0.23.10" }
rand = "0.8.5"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["raw_value"] }
serde_yaml = { version = "0.9.33 " }
sha2 = "0.10.8"
sqlx = { version = "0.7", features = [
    "runtime-tokio",
    "sqlite",
    "postgres",
    "uuid",
    "migrate",
    "chrono",
] }
strum = "0.26.1"
strum_macros = "0.26.1"
tap = "1.0.1"
tempfile = "3.9.0"
testcontainers = { version = "0.23.1" }
testcontainers-modules = { version = "0.11.2", features = [
    "postgres",
    "redis",
    "minio",
] }
test-r = "1.1.0"
thiserror = "1.0.56"
tokio = { version = "1.0", features = [
    "macros",
    "rt-multi-thread",
    "sync",
    "io-std",
    "net",
    "tracing",
    "process",
] }
tokio-postgres = "0.7.10"
tokio-rustls = { version = "0.26.0" }
tokio-stream = { version = "0.1", features = ["sync"] }
tokio-util = "0.7.10"
toml = "0.8.14"
tonic = { version = "0.11.0", features = ["gzip"] }
tonic-reflection = "0.11.0"
tonic-health = "0.11.0"
tracing = { version = "0.1.40", features = ["log"] }
tracing-opentelemetry = "0.25.0"
tracing-serde = "0.1.3"
tracing-subscriber = { version = "0.3.18", features = [
    "env-filter",
    "fmt",
    "std",
    "json",
] }
tracing-test = "0.2.5"
typed-path = "0.9.3"
url = "2.5.0"
uuid = { version = "1.7.0", features = ["serde", "v4", "v5"] }
warp = "0.3.6"
wasm-wave = "=0.6.0"
wasmtime = { version = "=21.0.1", features = ["component-model"] }
wasmtime-wasi = { version = "=21.0.1" }
wasmtime-wasi-http = { version = "=21.0.1" }
webpki-roots = { version = "0.26.0" }

[patch.crates-io]
wasmtime = { git = "https://github.com/golemcloud/wasmtime.git", branch = "golem-wasmtime-v21.0.1" }
wasmtime-wasi = { git = "https://github.com/golemcloud/wasmtime.git", branch = "golem-wasmtime-v21.0.1" }
wasmtime-wasi-http = { git = "https://github.com/golemcloud/wasmtime.git", branch = "golem-wasmtime-v21.0.1" }
