[workspace]
resolver = "2"

members = [
    "golem-worker-executor-base",
    "golem-worker-executor-oss",
    "golem-common",
    "golem-api-grpc",
    "golem-cloud-server-base",
    "golem-cloud-server-oss",
    "golem-shard-manager"
]

exclude = [
    "test-templates/shopping-cart",
    "test-templates/write-stdout",
    "wasmtime",
    "test-templates/blob-store-service",
    "test-templates/clock-service",
    "test-templates/clocks",
    "test-templates/directories",
    "test-templates/environment-service",
    "test-templates/failing-component",
    "test-templates/file-service",
    "test-templates/file-write-read-delete",
    "test-templates/flags-service",
    "test-templates/http-client",
    "test-templates/http-client-2",
    "test-templates/interruption",
    "test-templates/key-value-service",
    "test-templates/option-service",
    "test-templates/promise",
    "test-templates/read-stdin",
    "test-templates/runtime-service",
    "test-templates/shopping-cart",
    "test-templates/stdio-cc",
    "test-templates/variant-service",
    "test-templates/write-stderr",
    "test-templates/write-stdout",
    "golem-openapi-client-generator",
    "golem-client",
]

[workspace.dependencies]
anyhow = "1.0.22"
async-trait = "0.1.68"
aws-config = "1.0.1"
aws-sdk-s3 = "1.1.0"
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
bytes = "1.4.0"
chrono = { version = "0.4.31", features = ["serde"] }
console-subscriber = "0.2.0"
figment = { version = "0.10.12", features = ["toml", "env"] }
fred = { version = "7.0.0", features = ["metrics", "serde-json", "partial-tracing"] }
futures = "0.3"
futures-core = "0.3.29"
futures-util = "0.3.29"
http = "0.2.11"
humantime-serde = "1.1.1"
hyper = { version = "=1.0.0-rc.3", features = ["full"] }
lazy_static = "1.4.0"
poem = "1.3.57"
poem-openapi = { version = "3.0.0", features = ["swagger-ui", "chrono", "time", "humantime", "uuid", "url", "websocket"] }
prometheus = { version = "0.13.3", features = ["process"] }
prost = "0.12.3"
rustls = { version = "0.21.5" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
thiserror = "1.0.15"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread", "sync", "io-std", "net", "tracing"] }
tokio-rustls = { version = "0.24.1" }
tokio-stream = { version = "0.1", features = ["sync"] }
tonic = "0.10.2"
tonic-reflection = "0.10.2"
tonic-health = "0.10.2"
tracing = { version = "0.1.40", features = ["log"] }
tracing-opentelemetry = "0.22.0"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "fmt", "std", "json"] }
url = "2.3.1"
uuid = { version = "1.3.3", features = ["serde", "v4"] }
warp = "0.3.5"
webpki-roots = { version = "0.25.3" }

[patch.crates-io]
wasmtime = { path = "wasmtime/crates/wasmtime" }
wasmtime-runtime = { path = "wasmtime/crates/runtime" }
wasmtime-wasi = { path = "wasmtime/crates/wasi" }
wasmtime-wasi-http = { path = "wasmtime/crates/wasi-http" }
