[package]
description = "Golem Rust tooling library that facilitates writing Golem backends in Rust"
edition = "2021"
homepage = "https://golem.cloud"
license = "Apache-2.0"
name = "golem-rust"
repository = "https://github.com/golemcloud/golem-rust"
version = "0.0.0"

[lib]
crate-type = ["rlib"]
path = "src/lib.rs"

[dependencies]
golem-rust-macro = {path = "../golem-rust-macro", version = "0.0.0", optional = true}
golem-wasm = {version = "1.3.2-dev.2", default-features = false, features = ["stub"]}

async-trait = {version = "0.1.89"}
serde = {version = "1", optional = true}
serde_json = {version = "1", optional = true}
uuid = {version = "1", features = ["v4"]}
wasi = {version = "0.14.7+wasi-0.2.4"}
wasi-async-runtime = { path = '/Users/afsalthaj/wasm-http-tools/crates/wasi-async-runtime' }
wit-bindgen = {version = "=0.40.0"}

[features]
default = ["durability", "json", "macro"]
durability = []
export_golem_agentic = []
export_load_snapshot = []
export_oplog_processor = []
export_save_snapshot = []
json = ["dep:serde", "dep:serde_json"]
macro = ["dep:golem-rust-macro"]

[dev-dependencies]
ctor = "0.4.3"
