[package]
name = "durability-overhead"
version = "0.0.1"
edition = "2021"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[profile.release]
lto = true
opt-level = 's'

[dependencies]
golem-rust = "1.0.0-rc1"
wit-bindgen-rt = { version = "0.26.0", features = ["bitflags"] }

[package.metadata.component.target]
path = "wit"

[package.metadata.component.target.dependencies]
