[package]
name = "golem-worker-service"
version = "0.0.0"
edition = "2024"

homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Golem Worker Service including API Gateway functionalities"

license-file = "../LICENSE"

autotests = false
autobenches = false

[[bin]]
name = "golem-worker-service"
path = "src/server.rs"
test = false

[lib]
path = "src/lib.rs"
harness = false

[[test]]
name = "oidc"
path = "tests/oidc/lib.rs"
harness = false

# [[bench]]
# name = "tree"
# harness = false

[dependencies]
golem-api-grpc = { workspace = true }
golem-common = { workspace = true, default-features = true }
golem-service-base = { workspace = true }
golem-wasm = { workspace = true, default-features = true }
golem-wasm-derive = { workspace = true }

anyhow = { workspace = true }
async-trait = { workspace = true }
bigdecimal = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
cookie = { workspace = true }
derive_more = { workspace = true }
desert_rust = { workspace = true }
figment = { workspace = true }
fred = { workspace = true }
futures = { workspace = true }
headers = { workspace = true }
http = { workspace = true }
http-body-util = { workspace = true }
humantime-serde.workspace = true
hyper = { workspace = true }
include_dir = { workspace = true }
mime = { workspace = true }
mime_guess = { workspace = true }
nom = { workspace = true }
openapiv3 = { workspace = true }
openidconnect = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-prometheus-text-exporter = { workspace = true }
opentelemetry_sdk = { workspace = true }
poem = { workspace = true, features = ["prometheus", "opentelemetry"] }
poem-derive = { workspace = true }
poem-openapi = { workspace = true }
poem-openapi-derive = { workspace = true }
prometheus = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
regex = { workspace = true }
rustc-hash = { workspace = true }
rustls = { workspace = true, features = [ "ring" ] }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
indexmap = { workspace = true }
sqlx = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
tonic-reflection = { workspace = true }
tonic-tracing-opentelemetry = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["fmt", "std", "json"] }
url = { workspace = true }
urlencoding = { workspace = true }
uuid = { workspace = true }
zeroize = { version = "1.8.2", features = ["derive"] }

[dev-dependencies]
golem-test-framework.workspace = true

assert2 = { workspace = true }
criterion = { workspace = true, features = ["html_reports"] }
fastrand = {workspace = true }
reqwest = { workspace = true }
rsa = { workspace = true }
tempfile.workspace = true
test-r = { workspace = true }
tryhard = { workspace = true }
