[package]
name = "golem-wasm-rpc"
version = "0.0.0"
edition = "2021"

homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Golem WASM RPC support library"

license-file = "../LICENSE"

include = []

[lib]
path = "src/lib.rs"
harness = false

[dependencies]
wit-bindgen-rt = { version = "=0.40.0", features = ["bitflags"] }

arbitrary = { version = "1.4.1", features = ["derive"], optional = true }
async-recursion = { workspace = true, optional = true }
async-trait = { workspace = true, optional = true }
bigdecimal = { workspace = true, optional = true }
bincode = { workspace = true, optional = true }
bincode_derive = { workspace = true, optional = true }
bit-vec = { workspace = true, optional = true }
chrono = { workspace = true }
git-version = "0.3.9"
golem-wasm-ast = { path = "../wasm-ast", version = "=0.0.0", optional = true }
poem-openapi = { workspace = true, optional = true }
poem-openapi-derive = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
prost = { workspace = true, optional = true }
uuid = { workspace = true }
url = { workspace = true, optional = true }
wasmtime = { workspace = true, optional = true }
wasmtime-wasi = { workspace = true, optional = true }
wasm-wave = { workspace = true, optional = true }

[dev-dependencies]
proptest = { workspace = true }
proptest-arbitrary-interop = "0.1.0"
test-r = { workspace = true }

[build-dependencies]
prost-build = { version = "0.13.5", optional = true }
cargo_metadata = "0.19.2"

[features]
default = ["host", "extra-bindings"]
host-bindings = ["dep:async-trait", "wasmtime"]
host = [
    "arbitrary",
    "bincode",
    "host-bindings",
    "json",
    "poem_openapi",
    "protobuf",
    "serde",
    "text",
    "typeinfo",
]
arbitrary = ["dep:arbitrary"]
bincode = ["dep:bincode", "dep:bincode_derive", "golem-wasm-ast/bincode"]
extra-bindings = ["dep:bigdecimal", "dep:bit-vec", "dep:url"]
json = [
    "dep:serde",
    "dep:serde_json",
    "dep:bigdecimal",
    "typeinfo",
    "golem-wasm-ast/json",
]
poem_openapi = [
    "dep:poem-openapi",
    "dep:poem-openapi-derive",
    "json",
    "typeinfo",
    "golem-wasm-ast/poem_openapi",
]
protobuf = ["dep:bincode", "dep:serde", "dep:prost", "dep:prost-build", "golem-wasm-ast/protobuf"]
serde = ["dep:serde"]
stub = []
text = ["typeinfo", "dep:wasm-wave", "golem-wasm-ast/wave"]
typeinfo = ["dep:golem-wasm-ast", "golem-wasm-ast/analysis"]
wasmtime = [
    "dep:wasmtime",
    "dep:wasmtime-wasi",
    "dep:async-recursion",
    "typeinfo",
]


[package.metadata.component]
package = "golem:rpc"

[package.metadata.component.target]
path = "wit"
world = "wasm-rpc"

[package.metadata.component.target.dependencies]
"golem:rpc" = { path = "wit/deps/golem-rpc" }
"wasi:io" = { path = "wit/deps/io" }
"wasi:clocks" = { path = "wit/deps/clocks" }
