[package]
name = "golem-test-framework"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud"
description = "Test framework for integration tests and benchmarks"


[lib]


[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "0.0.0" }
golem-common = { path = "../golem-common", version = "0.0.0" }
golem-wasm-ast = { workspace = true }
golem-wasm-rpc = { workspace = true }

anyhow = { workspace = true }
async-dropper = { version = "0.3.1", features = ["simple", "tokio"] }
async-dropper-simple = { version = "0.2.6", features = ["no-default-bound"] }
async-scoped = "0.9.0"
async-trait = { workspace = true }
clap = { version = "4.5.4", features = ["derive", "suggestions", "color", "help"] }
k8s-openapi = { version = "0.21.1", features = ["earliest"] }
kill_tree = { version = "0.2.4", features = ["tokio"] }
kube = { version = "0.88.1", features = ["runtime", "derive"] }
kube-derive = "0.88.1"
once_cell = "1.19.0"
postgres = "0.19.7"
redis = { version = "0.25.2", features = ["default"] }
serde_json = { workspace = true }
testcontainers = { version = "0.15.0", features = ["async-trait", "tokio"] }
testcontainers-modules = { version = "0.3.2", features = ["postgres", "redis"] }
tokio = { workspace = true }
tokio-postgres = "0.7.10"
tokio-stream = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
