[package]
name = "golem-test-framework"
version = "0.0.0"
edition = "2021"

homepage = "https://golem.cloud"
description = "Test framework for integration tests and benchmarks"
repository = "https://github.com/golemcloud/golem"

license-file = "../LICENSE"

[lib]
harness = false

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "=0.0.0" }
golem-client = { path = "../golem-client", version = "=0.0.0" }
golem-common = { path = "../golem-common", version = "=0.0.0", features = ["agent-extraction"] }
golem-rib = { path = "../golem-rib", version = "=0.0.0" }
golem-service-base = { path = "../golem-service-base", version = "=0.0.0" }
golem-wasm-ast = { path = "../wasm-ast", version = "=0.0.0" }
golem-wasm-rpc = { path = "../wasm-rpc", version = "=0.0.0", default-features = false, features = ["host"] }

anyhow = { workspace = true }
async-dropper = { version = "0.3.1", features = ["simple", "tokio"] }
async-dropper-simple = { version = "0.2.6", features = ["no-default-bound", "tokio"] }
async-trait = { workspace = true }
async_zip = { workspace = true, features = ["tokio", "tokio-fs", "deflate"] }
bytes = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
cli-table = { workspace = true }
colored = "3.0.0"
futures = { workspace = true }
itertools = { workspace = true }
k8s-openapi = { workspace = true }
kill_tree = { version = "0.2.4", features = ["tokio"] }
kube = { workspace = true }
postgres = { workspace = true }
redis = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
tempfile = { workspace = true }
sqlx = { workspace = true }
testcontainers = { workspace = true }
testcontainers-modules = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-tungstenite = { workspace = true, features = ["native-tls"] }
tonic = { workspace = true }
tracing = { workspace = true }
tryhard = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
wasm-metadata = { version = "0.227.1" }

[dev-dependencies]
test-r = { workspace = true }

[features]
default = []
