[package]
name = "golem-test-framework"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud"
description = "Test framework for integration tests and benchmarks"
repository = "https://github.com/golemcloud/golem"

[lib]
harness = false

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "0.0.0" }
golem-common = { path = "../golem-common", version = "0.0.0" }
golem-service-base = { path = "../golem-service-base", version = "0.0.0" }
golem-wasm-ast = { path = "../wasm-ast", version = "0.0.0" }
golem-wasm-rpc = { path = "../wasm-rpc", version = "0.0.0", default-features = false, features = ["host"] }

anyhow = { workspace = true }
async-dropper = { version = "0.3.1", features = ["simple", "tokio"] }
async-dropper-simple = { version = "0.2.6", features = ["no-default-bound"] }
async-scoped = "0.9.0"
async-trait = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
cli-table = { workspace = true }
colored = "2.1.0"
console-subscriber = { workspace = true }
itertools = { workspace = true }
k8s-openapi = { workspace = true }
kill_tree = { version = "0.2.4", features = ["tokio"] }
kube = { workspace = true }
kube-derive = { workspace = true }
log = { workspace = true }
once_cell = { workspace = true }
postgres = { workspace = true }
redis = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
sqlx = { workspace = true }
testcontainers = { workspace = true }
testcontainers-modules = { workspace = true }
tokio = { workspace = true }
tokio-postgres = { workspace = true }
tokio-stream = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
test-r = { workspace = true }
