[package]
name = "auction-registry"
version = "0.0.1"
edition = "2021"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
once_cell = "1.19.0"
rand = "0.8.5"
uuid = { version = "1.7.0", features = ["v4", "serde"] }
wit-bindgen = { version = "0.17.0", default-features = false, features = ["realloc"] }

[package.metadata.component.target]
path = "wit"

[package.metadata.component.target.dependencies]
"golem:rpc" = { path = "wit/deps/wasm-rpc" }
"auction:auction" = { path = "wit/deps/auction_auction" }
"auction:auction-stub" = { path = "wit/deps/auction-stub" }
