[package]
name = "golem-registry-service"
version = "0.0.0"
edition = "2024"

[[bin]]
name = "golem-registry-service"
path = "src/server.rs"
harness = false

[lib]
path = "src/lib.rs"
harness = false

[[test]]
name = "tests"
path = "tests/lib.rs"
harness = false

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "=0.0.0" }
golem-common = { path = "../golem-common", version = "=0.0.0" }
golem-rib = { path = "../golem-rib", version = "=0.0.0" }
golem-service-base = { path = "../golem-service-base", version = "=0.0.0" }
golem-wasm-ast = { path = "../wasm-ast", version = "=0.0.0" }
golem-wasm-rpc = { path = "../wasm-rpc", version = "=0.0.0" }

anyhow = { workspace = true}
assert2 = { workspace = true }
async-trait = { workspace = true }
async_zip = { workspace = true, features = ["tokio", "tokio-fs", "deflate"] }
aws-config = { workspace = true }
aws-sdk-s3 = { workspace = true }
bigdecimal = "0.4.2"
blake3 = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
conditional-trait-gen = { workspace = true }
console-subscriber = { workspace = true }
darling = { workspace = true }
figment = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
humantime-serde = { workspace = true }
hyper = { workspace = true }
indoc = { workspace = true }
jsonwebtoken = "9.2.0"
lazy_static = { workspace = true }
mappable-rc = "0.1.1"
num-traits = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-prometheus = { workspace = true }
opentelemetry_sdk = { workspace = true }
poem = { workspace = true, features = [
    "prometheus",
    "opentelemetry",
    "cookie",
    "test",
] }
poem-derive = { workspace = true }
poem-openapi = { workspace = true }
poem-openapi-derive = { workspace = true }
prometheus = { workspace = true }
prost = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
sanitize-filename = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
serde_with = { workspace = true }
sqlx = { version = "0.8", features = [
    "runtime-tokio",
    "sqlite",
    "postgres",
    "uuid",
    "migrate",
    "chrono",
] }
strum = { workspace = true }
strum_macros = { workspace = true }
tap = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
tonic-reflection = { workspace = true }
tracing = { workspace = true }
tracing-futures = { workspace = true, features = ["futures-03"] }
tracing-subscriber = { workspace = true }
tryhard = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
wac-graph = { workspace = true }

[dev-dependencies]
futures = { workspace = true }
testcontainers = { workspace = true }
testcontainers-modules = { workspace = true }
test-r = { workspace = true }
