[package]
name = "golem-registry-service"
version = "0.0.0"
edition = "2024"

[[bin]]
name = "golem-registry-service"
path = "src/server.rs"
harness = false
test = false

[lib]
path = "src/lib.rs"
harness = false

[[test]]
name = "tests"
path = "tests/lib.rs"
harness = false

[dependencies]
golem-api-grpc = { workspace = true }
golem-common = { workspace = true, default-features = true }
golem-service-base = { workspace = true }
golem-wasm = { workspace = true, default-features = true }

anyhow = { workspace = true }
applying = { workspace = true }
assert2 = { workspace = true }
async-trait = { workspace = true }
async_zip = { workspace = true, features = ["tokio", "tokio-fs", "deflate"] }
aws-config = { workspace = true }
aws-sdk-s3 = { workspace = true }
bigdecimal = { workspace = true }
blake3 = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
conditional-trait-gen = { workspace = true }
console-subscriber = { workspace = true }
darling = { workspace = true }
desert_rust.workspace = true
figment = { workspace = true }
futures = { workspace = true }
goldenfile = { workspace = true }
http = { workspace = true }
humantime-serde = { workspace = true }
include_dir = { workspace = true }
itertools = { workspace = true }
hyper = { workspace = true }
indoc = { workspace = true }
jsonwebtoken = { workspace = true }
lazy_static = { workspace = true }
mappable-rc = { workspace = true }
num-traits = { workspace = true }
openidconnect.workspace = true
opentelemetry = { workspace = true }
opentelemetry-prometheus-text-exporter = { workspace = true }
opentelemetry_sdk = { workspace = true }
poem = { workspace = true, features = [
    "prometheus",
    "opentelemetry",
    "cookie",
    "test",
] }
poem-derive = { workspace = true }
poem-openapi = { workspace = true }
poem-openapi-derive = { workspace = true }
prometheus = { workspace = true }
prost = { workspace = true }
rayon = { workspace = true }
reqwest = { workspace = true, features = ["json"] }
rusoto_acm = { workspace = true }
rusoto_core = { workspace = true }
rusoto_credential = { workspace = true }
rusoto_elbv2 = { workspace = true }
rusoto_route53 = { workspace = true }
rusoto_sts = { workspace = true }
rustls = { workspace = true, features = [ "ring" ] }
sanitize-filename = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
serde_with = { workspace = true }
sqlx = { workspace = true, features = [
    "runtime-tokio",
    "sqlite",
    "postgres",
    "uuid",
    "migrate",
    "bigdecimal",
    "chrono",
] }
strum = { workspace = true }
strum_macros = { workspace = true }
tap = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
tonic-reflection = { workspace = true }
tonic-tracing-opentelemetry = { workspace = true }
tracing = { workspace = true }
tracing-futures = { workspace = true, features = ["futures-03"] }
tracing-subscriber = { workspace = true }
tryhard = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
futures = { workspace = true }
testcontainers = { workspace = true }
testcontainers-modules = { workspace = true }
test-r = { workspace = true }
