[package]
name = "golem-wasm"
version = "0.0.0"
edition = "2021"

homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Golem WASM base types"

license-file = "../LICENSE"

include = []

[lib]
path = "src/lib.rs"
harness = false

[dependencies]
golem-wasm-derive = { version = "0.0.0", path = "../golem-wasm-derive", optional = true }
wit-bindgen-rt = { workspace = true, features = ["bitflags"], optional = true }

arbitrary = { workspace = true, features = ["derive"], optional = true }
async-recursion = { workspace = true, optional = true }
async-trait = { workspace = true, optional = true }
bigdecimal = { workspace = true, optional = true }
bit-vec = { workspace = true, optional = true }
chrono = { workspace = true }
desert_rust = { workspace = true, optional = true }
itertools = { workspace = true }
lazy_static = { workspace = true, optional = true }
poem-openapi = { workspace = true, optional = true }
semver = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
prost = { workspace = true, optional = true }
uuid = { workspace = true }
url = { workspace = true, optional = true }
wasmtime = { workspace = true, optional = true }
wasmtime-wasi = { workspace = true, optional = true }
wasmparser = { workspace = true, optional = true }
wasm-wave = { workspace = true, optional = true }
wasm-metadata = { workspace = true, optional = true }
wit-component = { workspace = true, optional = true }
wit-parser = { workspace = true, optional = true }
wasi = { version = "=0.14.1+wasi-0.2.3", optional = true }
wstd = { version = "=0.5.4", optional = true }

[dev-dependencies]
pretty_assertions = { workspace = true }
proptest = { workspace = true }
proptest-arbitrary-interop = { workspace = true }
test-r = { workspace = true }

[build-dependencies]
miette = { workspace = true, optional = true }
prost-build = { workspace = true, optional = true }
protox = { workspace = true, optional = true }

[features]
default = ["host", "derive"]

host = [
    "client",
    "dep:arbitrary",
    "dep:async-recursion",
    "dep:async-trait",
    "dep:bigdecimal",
    "dep:bit-vec",
    "dep:desert_rust",
    "dep:lazy_static",
    "dep:miette",
    "dep:poem-openapi",
    "dep:prost",
    "dep:prost-build",
    "dep:protox",
    "dep:semver",
    "dep:serde",
    "dep:serde_json",
    "dep:url",
    "dep:wasm-metadata",
    "dep:wasmparser",
    "dep:wasm-wave",
    "dep:wasmtime",
    "dep:wasmtime-wasi",
    "dep:wit-component",
    "dep:wit-parser"
]

derive = ["dep:golem-wasm-derive"]

stub = ["dep:wit-bindgen-rt", "dep:wstd", "dep:wasi"]

client = ["derive", "dep:serde", "dep:serde_json", "dep:bigdecimal", "dep:bit-vec", "dep:url"]

[package.metadata.component]
package = "golem:rpc"

[package.metadata.component.target]
path = "wit"
world = "wasm-rpc"

[package.metadata.component.target.dependencies]
"golem:core" = { path = "wit/deps/golem-core" }
"wasi:io" = { path = "wit/deps/io" }
"wasi:clocks" = { path = "wit/deps/clocks" }

[package.metadata.component.bindings]
# See https://github.com/bytecodealliance/cargo-component/blob/main/src/metadata.rs#L62
generate_unused_types = true

[package.metadata.component.bindings.with]
"wasi:io/poll@0.2.3" = "wstd::wasi::io::poll"
"wasi:clocks/wall-clock@0.2.3" = "wstd::wasi::clocks::wall_clock"

[[test]]
name = "exports"
harness = false

[[test]]
name = "mems"
harness = false

[[test]]
name = "metadata"
harness = false
