[package]
name = "golem-api-grpc"
version = "0.0.0"
edition = "2021"

homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "GRPC API for Golem services"

license-file = "../LICENSE"

[lib]
harness = false

[dependencies]
golem-wasm-ast = { path = "../wasm-ast", version = "=0.0.0", default-features = false, features = ["protobuf"] }
golem-wasm-rpc = { path = "../wasm-rpc", version = "=0.0.0", default-features = false, features = ["host-bindings", "protobuf"] }

async-trait = { workspace = true }
bincode = { workspace = true }
bytes = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
tonic = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
test-r = { workspace = true }

[build-dependencies]
cargo_metadata = "0.19.2"
tonic-build = "0.12.3"
