[package]
name = "file-service"
version = "0.0.1"
edition = "2021"

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[profile.release]
lto = true
opt-level = 's'

[dependencies]
once_cell = "1.17.1"
rand = "0.8.5"
wit-bindgen = { version = "0.16.0", default-features = false, features = ["realloc"] }

[package.metadata.component.target]
path = "wit"

[package.metadata.component.target.dependencies]
"wasi:clocks" = { path = "wit/deps/clocks"}
"wasi:filesystem" = { path = "wit/deps/filesystem"}
"wasi:io" = { path = "wit/deps/io"}
