[package]
name = "golem-common"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Shared code between Golem services"


[lib]


[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "0.0.0" }
golem-wasm-ast = { workspace = true }
golem-wasm-rpc = { workspace = true }
golem-rib = { path = "../golem-rib", version = "0.0.0" }

async-trait = { workspace = true }
bincode = { workspace = true }
bytes = { workspace = true }
dashmap = { workspace = true }
derive_more = { workspace = true }
fred = { workspace = true }
futures-core = { workspace = true }
humantime-serde = { workspace = true }
iso8601-timestamp = { workspace = true }
lazy_static = { workspace = true }
poem = { workspace = true }
poem-openapi = { workspace = true }
prometheus = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
rand = { workspace = true }
range-set-blaze = "0.1.16"
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
wasm-wave = { workspace = true }