[package]
name = "golem-component-service-base"
version = "0.0.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "0.0.0" }
golem-common = { path = "../golem-common", version = "0.0.0" }
golem-service-base = { path = "../golem-service-base" }
golem-wasm-ast = { workspace = true }

async-trait = { workspace = true }
bincode = { workspace = true }
bytes = { workspace = true }
http_02 = { workspace = true }
serde = { workspace = true }
sqlx = { workspace = true, features = [
    "runtime-tokio",
    "sqlite",
    "postgres",
    "uuid",
    "migrate",
    "chrono",
] }
thiserror = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }