[package]
name = "golem-component-compilation-service"
version = "0.0.0"
edition = "2021"

[lib]
path = "src/lib.rs"

[[bin]]
name = "golem-component-compilation-service"
path = "src/server.rs"

[dependencies]
golem-api-grpc = { version = "0.0.0", path = "../golem-api-grpc" }
golem-common = { version = "0.0.0", path = "../golem-common" }
golem-worker-executor-base = { version = "0.0.0", path = "../golem-worker-executor-base" }

async-trait = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
tokio = { workspace = true }

tracing = { workspace = true }
uuid = { workspace = true }
wasmtime = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
thiserror = { workspace = true }
serde = { workspace = true }
figment = { workspace = true }
console-subscriber = { workspace = true }
tracing-subscriber = { workspace = true }
prometheus = { workspace = true }
futures-util = "0.3.30"
lazy_static.workspace = true
