[package]
name = "golem-cli"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud/"
repository = "https://github.com/golemcloud/golem"
authors = ["Simon Popugaev <simon.popugaev@ziverge.com>"]
readme = "README.md"
description = "Command line interface for OSS version of Golem. See also golem-cloud-cli."
autotests = false

[[test]]
name = "integration"
path = "tests/main.rs"
harness = false

[dependencies]
golem-client = { path = "../golem-client", version = "0.0.0" }

async-trait = { workspace = true }
chrono = { workspace = true }
clap = { version = "4.4.12", features = ["derive"] }
clap-verbosity-flag = "2.1.1"
derive_more = "0.99.17"
dirs = "5.0.1"
futures-util = { workspace = true }
golem-examples = "0.1.15"
golem-wasm-ast = { workspace = true }
golem-wasm-rpc = { workspace = true, features = ["text"] }
golem-wasm-rpc-stubgen = { version = "0.0.19", optional = true }
h2 = "0.3.24"
http = { workspace = true }
hyper = "0.14.28"
indoc = "2.0.4"
itertools = "0.11.0"
native-tls = "0.2.11"
openapiv3 = "2.0.0"
rand = "0.8.5"
reqwest = { version = "0.11.23", features = ["stream", "json", "multipart"] }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = "0.9.29"
strum = "0.25.0"
strum_macros = "0.25.3"
testcontainers-modules = { version = "0.3.2", features = ["postgres", "redis"] }
tokio = { workspace = true }
tokio-tungstenite = { version = "0.20.1", features = ["native-tls"] }
tower = "0.4.13"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
tungstenite = "0.20.1"
url = { workspace = true }
uuid = { workspace = true }
version-compare = "=0.0.11"
wasm-wave = "=0.4.0"

[dev-dependencies]
golem-test-framework = { path = "../golem-test-framework", version = "0.0.0" }

async-recursion = "1.0.5"
env_logger = "0.11.1"
libtest-mimic = { git = "https://github.com/senia-psm/libtest-mimic.git", branch = "async_and_context_tests" }
log = "0.4.20"
postgres = "0.19.7"
rand = "0.8.5"
redis = "0.24.0"
serde_json_path = "0.6.5"
testcontainers = { version = "0.15.0", features = ["async-trait", "tokio"] }
testcontainers-modules = { version = "0.3.2", features = ["postgres", "redis"] }
tokio-postgres = "0.7.10"
tonic = "0.10.2"
tonic-health = "0.10.2"

[features]
default = ["stubgen"]
stubgen = ["dep:golem-wasm-rpc-stubgen"]
