[package]
name = "golem-cli"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud/"
repository = "https://github.com/golemcloud/golem"
authors = ["Simon Popugaev <simon.popugaev@ziverge.com>"]
readme = "README.md"
description = "Command line interface for OSS version of Golem. See also golem-cloud-cli."
autotests = false

[[test]]
name = "integration"
path = "tests/main.rs"
harness = false

[dependencies]
golem-client = { path = "../golem-client", version = "0.0.0" }

async-trait = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true }
clap-verbosity-flag = "2.1.1"
derive_more = { workspace = true }
dirs = "5.0.1"
futures-util = { workspace = true }
golem-examples = "0.2.1"
golem-wasm-ast = { workspace = true }
golem-wasm-rpc = { workspace = true }
golem-wasm-rpc-stubgen = { version = "0.0.22", optional = true }
h2 = "0.3.24"
http = { workspace = true }
hyper = { workspace = true }
indoc = "2.0.4"
itertools = { workspace = true }
native-tls = "0.2.11"
openapiv3 = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
testcontainers-modules = { version = "0.3.2", features = ["postgres", "redis"] }
tokio = { workspace = true }
tokio-tungstenite = { version = "0.20.1", features = ["native-tls"] }
tower = "0.4.13"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tungstenite = "0.20.1"
url = { workspace = true }
uuid = { workspace = true }
version-compare = "=0.0.11"
wasm-wave = { workspace = true }
cli-table = { workspace = true }
textwrap = "0.16.1"

[dev-dependencies]
golem-test-framework = { path = "../golem-test-framework", version = "0.0.0" }

async-recursion = "1.0.5"
env_logger = "0.11.1"
libtest-mimic = { git = "https://github.com/senia-psm/libtest-mimic.git", branch = "async_and_context_tests" }
log = "0.4.20"
postgres = { workspace = true }
rand = { workspace = true }
redis = { workspace = true }
serde_json_path = "0.6.5"
testcontainers = { workspace = true }
testcontainers-modules = { workspace = true }
tokio-postgres = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
regex = { workspace = true }
strip-ansi-escapes = "0.2.0"

[features]
default = ["stubgen"]
stubgen = ["dep:golem-wasm-rpc-stubgen"]
