[package]
name = "golem-it-clocks"
version = "0.0.1"
edition = "2018"

[lib]
crate-type = ["cdylib"]

[profile.release]
lto = true
opt-level = 's'

[dependencies]
wit-bindgen = { version = "0.16.0", default-features = false, features = ["realloc"] }
time = { version = "0.3.21", features = ["formatting"] }

[package.metadata.component]
package = "golem:it"

[package.metadata.component.target]
path = "wit"

[package.metadata.component.dependencies]
