[package]
name = "golem-worker-service-base"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Base functionalities of Golem Worker Service"

[lib]

[dependencies]
golem-common = { path = "../golem-common" }
golem-api-grpc = { path = "../golem-api-grpc" }
golem-service-base = { path = "../golem-service-base" }
golem-rib = { path = "../golem-rib" }
golem-wasm-ast = { workspace = true }
golem-wasm-rpc = { workspace = true }

anyhow = { workspace = true }
async-trait = { workspace = true }
bincode = { workspace = true }
bytes = { workspace = true }
derive_more = { workspace = true }
figment = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
http = { workspace = true }
http_02 = { workspace = true }
humantime-serde = { workspace = true }
hyper = { workspace = true }
lazy_static = { workspace = true }
nom = { workspace = true }
openapiv3 = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-prometheus = { workspace = true }
opentelemetry_sdk = { workspace = true }
poem = { workspace = true }
poem-openapi = { workspace = true }
prometheus = { workspace = true }
regex = { workspace = true }
rustc-hash = "1.1.0"
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
sqlx = { version = "0.7", features = [
    "runtime-tokio",
    "sqlite",
    "postgres",
    "uuid",
    "migrate",
    "chrono",
] }
tap = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
tonic-reflection = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }
uuid = { workspace = true }
wasm-wave = { workspace = true }

[dev-dependencies]
criterion = { version = "0.3", features = ["html_reports"] }
fastrand = "2.0.2"
testcontainers = { workspace = true }
testcontainers-modules = { workspace = true }

[[bench]]
name = "tree"
harness = false
