[package]
name = "golem-client"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Client for Golem Cloud's REST API"

include = ["src/**/*", "Cargo.toml", "build.rs", "openapi/**/*"]

[lib]
harness = false

[dependencies]
golem-common = { path = "../golem-common", version = "0.0.0" }
golem-wasm-ast = { workspace = true }
golem-wasm-rpc = { workspace = true }

async-trait = { workspace = true }
bytes = { workspace = true }
chrono = { workspace = true }
futures-core = { workspace = true }
http = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
test-r = { workspace = true }

[build-dependencies]
# golem-openapi-client-generator = "0.0.10"
golem-openapi-client-generator = { path = "../../../oss/golem-openapi-client-generator", version = "0.0.0" }
relative-path = "1.9.2"
