[package]
name = "golem-worker-executor"
version = "0.0.0"
edition = "2021"

homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Golem Worker Executor"

license-file = "../LICENSE"

autotests = false

[lib]
path = "src/lib.rs"
harness = false

[[bin]]
name = "worker-executor"
path = "src/server.rs"
harness = false
test = false

[features]

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "=0.0.0" }
golem-common = { path = "../golem-common", version = "=0.0.0" }
golem-rib = { path = "../golem-rib", version = "=0.0.0" }
golem-service-base = { path = "../golem-service-base", version = "=0.0.0", features = [ "worker-executor" ] }
golem-wasm-ast = { path = "../wasm-ast", version = "=0.0.0" }
golem-wasm-rpc = { path = "../wasm-rpc", version = "=0.0.0", default-features = false, features = ["host", "extra-bindings"] }
golem-wasm-rpc-derive = { path = "../wasm-rpc-derive", version = "=0.0.0" }

anyhow = { workspace = true }
applying = "1.0.1"
async-lock = "3.4.0"
async-mutex = "1.4.0"
async-dropper-simple = { version = "0.2.6", features = ["no-default-bound", "tokio"] }
async-recursion = { workspace = true }
async-scoped = { version = "0.9.0", features = ["use-tokio"] }
async-trait = { workspace = true }
bincode = { workspace = true }
bigdecimal = { workspace = true }
bit-vec = { workspace = true }
bytes = { workspace = true }
cap-std = { workspace = true }
cap-time-ext = "3.4.2"                              # keep in sync with wasmtime
chrono = { workspace = true }
dashmap = { workspace = true }
drop-stream = { workspace = true }
evicting_cache_map = "0.4.0"
figment = { workspace = true }
fred = { workspace = true }
fs-set-times = "0.20.3"
futures = { workspace = true }
gethostname = "1.0.0"
hex = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
http-body-util = { workspace = true }
humansize = { workspace = true }
humantime-serde = { workspace = true }
hyper = { workspace = true }
itertools = { workspace = true }
lazy_static = { workspace = true }
log = "0.4.26"
mac_address = { version = "1.1.8", features = ["serde"] }
md5 = "0.7.0"
metrohash = "1.0.7"
nonempty-collections = { workspace = true }
prometheus = { workspace = true }
prost = { workspace = true }
rand = { workspace = true }
ringbuf = "0.4.7"
serde = { workspace = true }
serde_json = { workspace = true }
sqlx = { workspace = true }
sqlx-core = { workspace = true }
sysinfo = "0.33.1"
tempfile = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
tonic-reflection = { workspace = true }
tracing = { workspace = true }
try_match = "0.4.2"
url = { workspace = true }
uuid = { workspace = true }
wasmtime = { workspace = true }
wasmtime-wasi = { workspace = true }
wasmtime-wasi-http = { workspace = true }
zstd = "0.13"

[dev-dependencies]
golem-test-framework = { path = "../golem-test-framework", version = "=0.0.0" }

assert2 = { workspace = true }
axum = { workspace = true }
goldenfile = "1.8.0"
proptest = { workspace = true }
rand = { workspace = true }
redis = { workspace = true }
serde_json = { workspace = true }
test-r = { workspace = true }
system-interface = { workspace = true }

[[test]]
name = "integration"
path = "tests/lib.rs"
harness = false
