[package]
name = "golem-worker-executor"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud"
repository = "https://github.com/golemcloud/golem"
description = "Golem worker executor service"

[lib]

# Rename to golem-worker-executor ?
[[bin]]
name = "worker-executor"
path = "src/server.rs"

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "0.0.0" }
golem-common = { path = "../golem-common", version = "0.0.0" }
golem-wasm-rpc = { workspace = true }
golem-worker-executor-base = { path = "../golem-worker-executor-base", version = "0.0.0" }

anyhow = { workspace = true }
async-trait = { workspace = true }
cap-std = { workspace = true }
console-subscriber = { workspace = true }
figment = { workspace = true }
humantime-serde = { workspace = true }
prometheus = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
tonic-health = { workspace = true }
tonic-reflection = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }
wasmtime = { workspace = true }
wasmtime-runtime = { workspace = true }
wasmtime-wasi = { workspace = true }
wasmtime-wasi-http = { workspace = true }
