[package]
name = "integration-tests"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud/"
repository = "https://github.com/golemcloud/golem"
description = "Integration tests for Golem"

autotests = false

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "0.0.0" }
golem-common = { path = "../golem-common", version = "0.0.0" }
golem-test-framework = { path = "../golem-test-framework", version = "0.0.0" }
golem-wasm-rpc = { path = "../wasm-rpc", version = "0.0.0", default-features = false, features = ["host"] }

anyhow = { workspace = true }
assert2 = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true }
clap = { workspace = true }
console-subscriber = { workspace = true }
poem = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { version = "1.11.0", features = ["v4"] }

[dev-dependencies]
test-r = { workspace = true }
wac-graph = "0.6.1"

[lib]
harness = false

[[test]]
name = "integration"
path = "tests/lib.rs"
harness = false

[[test]]
name = "sharding"
path = "tests/sharding.rs"
harness = false

[[bin]]
name = "benchmark_simple_worker_echo"
path = "src/benchmarks/simple_worker_echo.rs"
harness = false
test = false

[[bin]]
name = "benchmark_suspend_worker"
path = "src/benchmarks/suspend_worker.rs"
harness = false
test = false

[[bin]]
name = "benchmark_cold_start_small"
path = "src/benchmarks/cold_start_small.rs"
harness = false
test = false

[[bin]]
name = "benchmark_cold_start_medium"
path = "src/benchmarks/cold_start_medium.rs"
harness = false
test = false

[[bin]]
name = "benchmark_cold_start_large"
path = "src/benchmarks/cold_start_large.rs"
harness = false
test = false

[[bin]]
name = "benchmark_latency_small"
path = "src/benchmarks/latency_small.rs"
harness = false
test = false

[[bin]]
name = "benchmark_latency_medium"
path = "src/benchmarks/latency_medium.rs"
harness = false
test = false

[[bin]]
name = "benchmark_latency_large"
path = "src/benchmarks/latency_large.rs"
harness = false
test = false

[[bin]]
name = "benchmark_durability_overhead"
path = "src/benchmarks/durability_overhead.rs"
harness = false
test = false

[[bin]]
name = "benchmark_throughput"
path = "src/benchmarks/throughput.rs"
harness = false
test = false

[[bin]]
name = "benchmark_throughput_cpu_intensive"
path = "src/benchmarks/throughput_cpu_intensive.rs"
harness = false
test = false

[[bin]]
name = "benchmark_throughput_large_input"
path = "src/benchmarks/throughput_large_input.rs"
harness = false
test = false

[[bin]]
name = "benchmark_rpc"
path = "src/benchmarks/rpc.rs"
harness = false
test = false

[[bin]]
name = "benchmark_rpc_cpu_intensive"
path = "src/benchmarks/rpc_cpu_intensive.rs"
harness = false
test = false

[[bin]]
name = "benchmark_rpc_large_input"
path = "src/benchmarks/rpc_large_input.rs"
harness = false
test = false

[[bin]]
name = "benchmark_large_initial_memory"
path = "src/benchmarks/large_initial_memory.rs"
harness = false
test = false

[[bin]]
name = "benchmark_large_dynamic_memory"
path = "src/benchmarks/large_dynamic_memory.rs"
harness = false
test = false

[[bin]]
name = "benchmark_report"
path = "src/benchmarks/report/benchmark_report.rs"
harness = false
test = false
