[package]
name = "integration-tests"
version = "0.0.0"
edition = "2021"
license = "Apache-2.0"
homepage = "https://golem.cloud/"
repository = "https://github.com/golemcloud/golem"
description = "Integration tests for Golem"

autotests = false

[dependencies]
golem-api-grpc = { path = "../golem-api-grpc", version = "0.0.0" }
golem-common = { path = "../golem-common", version = "0.0.0" }
golem-test-framework = { path = "../golem-test-framework", version = "0.0.0" }

assert2 = { workspace = true }
async-trait = { workspace = true }
clap = { workspace = true }
console-subscriber = { workspace = true }
ctor = { workspace = true }
golem-wasm-rpc = { workspace = true }
poem = { version = "2.0.0", features = ["prometheus", "opentelemetry", "test"] }
rand = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
warp = { workspace = true }

[[test]]
name = "integration"
path = "tests/lib.rs"

[[test]]
name = "sharding"
path = "tests/sharding.rs"

[[bin]]
name = "benchmark_simple_worker_echo"
path = "src/benchmarks/simple_worker_echo.rs"

[[bin]]
name = "benchmark_suspend_worker"
path = "src/benchmarks/suspend_worker.rs"

[[bin]]
name = "benchmark_cold_start_small"
path = "src/benchmarks/cold_start_small.rs"

[[bin]]
name = "benchmark_cold_start_medium"
path = "src/benchmarks/cold_start_medium.rs"

[[bin]]
name = "benchmark_cold_start_large"
path = "src/benchmarks/cold_start_large/cold_start_large.rs"

[[bin]]
name = "benchmark_latency_small"
path = "src/benchmarks/latency_small.rs"

[[bin]]
name = "benchmark_latency_medium"
path = "src/benchmarks/latency_medium.rs"

[[bin]]
name = "benchmark_latency_large"
path = "src/benchmarks/latency_large.rs"

[[bin]]
name = "benchmark_durability_overhead"
path = "src/benchmarks/durability_overhead.rs"

[[bin]]
name = "benchmark_throughput"
path = "src/benchmarks/throughput.rs"

[[bin]]
name = "benchmark_service"
path = "src/benchmarks/benchmark_service.rs"
#
[lib]
name = "integration_tests"
path = "src/lib.rs"