[package]
name = "integration-tests"
version = "0.0.0"
edition = "2021"

homepage = "https://golem.cloud/"
repository = "https://github.com/golemcloud/golem"
description = "Integration tests for Golem"

license-file = "../LICENSE"

autotests = false

[dependencies]
golem-api-grpc = { workspace = true }
golem-client = { workspace = true }
golem-common = { workspace = true }
golem-rib = { workspace = true }
golem-rib-repl = { workspace = true }
golem-test-framework = { workspace = true }
golem-wasm = { workspace = true }
golem-wasm-derive = { workspace = true }

anyhow = { workspace = true }
assert2 = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true }
base64 = { workspace = true }
blake3 = { workspace = true }
bytes = { workspace = true }
clap = { workspace = true }
futures-concurrency = { workspace = true }
headers = { workspace = true }
indoc = { workspace = true }
pretty_assertions = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true }
rlimit = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true, features = ["v4"] }
serde_yaml = { workspace = true }

[dev-dependencies]
goldenfile = { workspace = true }
test-r = { workspace = true }
wac-graph = { workspace = true }

[lib]
harness = false

[[test]]
name = "integration"
path = "tests/lib.rs"
harness = false

[[test]]
name = "sharding"
path = "tests/sharding.rs"
harness = false

[[bin]]
name = "rib-repl"
path = "src/rib_repl/main.rs"
harness = false
test = false

[[bin]]
name = "benchmarks"
path = "src/benchmarks/all.rs"
harness = false
test = false
