shardManager:
  image: golemservices/golem-shard-manager:latest
  imagePullPolicy: Always
  ports:
    http: 8081
    grpc: 9001
  service:
    type: ClusterIP
  worker:
    healthCheckType: "K8s"
  redis:
    port: 6379
    host: golem-redis-master
    username: golem_user
    database: 0
    password:
      plain: ""
      fromSecret:
        name: "" #golem-redis
        key: password
#  nodeSelector:

workerExecutor:
  image: golemservices/golem-worker-executor:latest
  imagePullPolicy: Always
  replica: 1
  ports:
    http: 8080
    grpc: 9000
  service:
    type: ClusterIP
  redis:
    port: 6379
    host: golem-redis-master
    username: golem_user
    database: 0
    password:
      plain: ""
      fromSecret:
        name: "" #golem-redis
        key: password
#  nodeSelector:

workerService:
  image: golemservices/golem-worker-service:latest
  imagePullPolicy: Always
  replica: 1
  ports:
    http: 9005
    requestHttp: 9006
    grpc: 9007
  service:
    type: LoadBalancer
  postgres:
    port: 5432
    host: golem-postgres-postgresql
    database: golem_db
    username: golem_user
    schema: golem_worker
    password:
      plain: ""
      fromSecret:
        name: golem-postgres-postgresql
        key: password
#  nodeSelector:

componentService:
  image: golemservices/golem-component-service:latest
  imagePullPolicy: Always
  replica: 1
  ports:
    http: 8083
    grpc: 9090
  service:
    type: LoadBalancer
  postgres:
    port: 5432
    host: golem-postgres-postgresql
    database: golem_db
    username: golem_user
    schema: golem_component
    password:
      plain: ""
      fromSecret:
        name: golem-postgres-postgresql
        key: password
#  nodeSelector:

componentCompilationService:
  image: golemservices/golem-component-compilation-service:latest
  imagePullPolicy: Always
  replica: 1
  ports:
    http: 8084
    grpc: 9091
  service:
    type: LoadBalancer
#  nodeSelector:

logging:
  json: false

serviceAccountName: golem-sa-default

env: default

componentStore:
  type: pvc
  pvc:
    storageClassName: hostpath
    storageSize: 5Gi
    accessMode: ReadWriteOnce
  s3:
    objectPrefix: ""
    bucket: ""
    region: "us-east-1"

workerExecutorStore:
  type: pvc
  pvc:
    storageClassName: hostpath
    storageSize: 5Gi
    accessMode: ReadWriteOnce
  s3:
    objectPrefix: ""
    region: "us-east-1"
    compilationCacheBucket: "compilation-cache"
    customDataBucket: "custom-data"
    oplogPayloadBucket: "oplog-payload"
    compressedOplogBuckets: "[oplog-archive-1]"


ingress:
  type: nginx
  nginx:
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/use-regex: "true"
  alb:
    annotations:
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip

ingressWorkerRequest:
  type: none
  alb:
    annotations:
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
