shardManager:
  image: golemservices/golem-shard-manager:latest
  imagePullPolicy: Always
  ports:
    http: 8080
    grpc: 9001
  service:
    type: ClusterIP
#  nodeSelector:

workerExecutor:
  image: golemservices/golem-worker-executor:latest
  imagePullPolicy: Always
  replica: 1
  ports:
    http: 8080
    grpc: 9000
  service:
    type: ClusterIP
#  nodeSelector:

workerBridge:
  image: golemservices/golem-worker-bridge:latest
  imagePullPolicy: Always
  replica: 1
  ports:
    mgmtHttp: 8080
    requestHttp: 9000
  service:
    type: LoadBalancer
#  nodeSelector:

golemService:
  image: golemservices/golem-service:latest
  imagePullPolicy: Always
  replica: 1
  ports:
    http: 9881
    grpc: 9090
  service:
    type: LoadBalancer
#  nodeSelector:

logging:
  json: false

#serviceAccountName: golem-sa-default

env: default

redis:
  port: 6379
  host: golem-redis-master
  username: golem_user
  password:
    plain: ""
    fromSecret:
      name: "" #golem-redis
      key: password

postgres:
  port: 5432
  host: golem-postgres-postgresql
  database: golem_db
  username: golem_user
  password:
    plain: ""
    fromSecret:
      name: golem-postgres-postgresql
      key: password


templateStore:
  type: pvc
  pvc:
    storageClassName: hostpath
    storageSize: 5Gi
  s3:
    objectPrefix: ""
    bucket: ""
    region: "us-east-1"

templateCompiledStore:
  type: pvc
  pvc:
    storageClassName: hostpath
    storageSize: 5Gi
  s3:
    objectPrefix: ""
    bucket: ""
    region: "us-east-1"

workerBlobStore:
  type: pvc
  pvc:
    storageClassName: hostpath
    storageSize: 5Gi
  s3:
    bucketPrefix: ""
    region: "us-east-1"